body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #2f4a6d;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #2f4a6d;
    background-color: #fff;
}

main {
    padding: 2rem;
    max-width: 900px; /* Ajustado para dar más espacio a las imágenes */
    margin: 0 auto;
}

#galeria>h2 {
    color: #2f4a6d;
    text-align: center;
    margin-bottom: 1rem;
    font-size:40px ;
}

#about {
    margin-bottom: 20px;
}

#about>li {
    list-style: none;
}

#cv a {
    display: inline-block;
    margin-top: 1rem;
    background-color: #2f4a6d;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#cv a:hover {
    background-color: #1c314e;
    transform: scale(1.1);
}

.images {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
}

.images img {
    width: 250px;
    height: 350px;
    border-radius: 15px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.images img:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3); 
}

#Redes-sociales ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin-top: 2rem;
}

footer {
    background-color: #2f4a6d;
    color: whitesmoke;
    text-align: center;
    padding: 1rem 0;
    width: 100%;
    position: absolute;
}